<a href="https://colab.research.google.com/github/fidhaFairoosaM/LEARN.PY/blob/main/TASK_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Create a dictionary that contains 
            name = Alex Ryder
            age  = 28
Update the age to 32 and another element to the dictionary
            age = 32
            town = calicut
Expected output
            {'name': 'Alex Ryder', 'age': 32, 'town': 'calicut'}

In [10]:
#please enter your answer below this line
dict = {'name': 'Alex Ryder', 'age': 28}
print (dict)
dict['age']=32
print (dict)
dict['town']='Calicut'
print (dict)

{'name': 'Alex Ryder', 'age': 28}
{'name': 'Alex Ryder', 'age': 32}
{'name': 'Alex Ryder', 'age': 32, 'town': 'Calicut'}

2. Create a dictionary containing the squares of numbers from 1 to 5.
Expected output
            {1: 1, 2: 4, 3: 9, 4: 16, 5: 15}

From this dictionary remove the item 3 and its square.

Expected output
                    
                {1: 1, 2: 4, 4: 16, 5: 15}

Now remove all items from the dictionary.

Expected output

      {}

Now delete the dictionary itself.

In [7]:
#please enter your answer below this line
square = {1:1, 2:4, 3:9, 4:16, 5:25}
print (square)
print (square.pop(3))
print (square)
square.clear() 
print (square)
del  square
print (square)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
9
{1: 1, 2: 4, 4: 16, 5: 25}
{}

NameError: ignored

3. Make a set containing the elements 1, hello, (0,1,2).

Expected output
            
            {'hello', 1, (0, 1, 2)}

Now add the value 6 to the set.

Expected output

        {'hello', 1, (0, 1, 2), 6}

In [9]:
#please enter your answer below the line
set = {1,"hello",(0,1,2)}
print(set)
set. add(6) 
print(set)

{(0, 1, 2), 1, 'hello'}
{(0, 1, 2), 1, 'hello', 6}